/* animation */
[data-sad] {
  transition-duration: var(--animation-duration-normal);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* fade */
[data-sad^="fade"] {
  opacity: 0;
}
[data-sad^="fade"][data-view="true"] {
  opacity: 1;
  transform: translate(0);
}
[data-sad="fade-up"] {
  transform: translate(0, 100px);
}
[data-sad="fade-down"] {
  transform: translate(0, -100px);
}
[data-sad="fade-left"] {
  transform: translate(100px, 0);
}
[data-sad="fade-right"] {
  transform: translate(-100px, 0);
}
[data-sad="fade-up-left"] {
  transform: translate(100px, 100px);
}
[data-sad="fade-up-right"] {
  transform: translate(-100px, 100px);
}
[data-sad="fade-down-left"] {
  transform: translate(100px, -100px);
}
[data-sad="fade-down-right"] {
  transform: translate(-100px, -100px);
}

/* animation duration */
[data-duration="fast"] {
  transition-duration: var(--animation-duration-fast);
}

[data-duration="normal"] {
  transition-duration: var(--animation-duration-normal);
}

[data-duration="slow"] {
  transition-duration: var(--animation-duration-slow);
}

[data-duration="slowest"] {
  transition-duration: var(--animation-duration-slowest);
}

/* flip */
[data-sad^="flip"] {
  opacity: 0;
}
[data-sad^="flip"][data-view="true"] {
  transform: perspective(1800px) rotate(0);
  opacity: 1;
}
[data-sad="flip-up"] {
  transform: rotateX(180deg);
}
[data-sad="flip-down"] {
  transform: rotateX(-180deg);
}
[data-sad="flip-left"] {
  transform: rotateY(-180deg);
}
[data-sad="flip-right"] {
  transform: rotateY(180deg);
}
/* zoom */
[data-sad^="zoom"] {
  opacity: 0;
}
[data-sad^="zoom"][data-view="true"] {
  transform: scale(1);
  opacity: 1;
}
[data-sad="zoom-in"] {
  transform: scale(0.5) translate(0);
}
[data-sad="zoom-in-up"] {
  transform-origin: bottom;
  transform: scale(0.5) translateY(50px);
}
[data-sad="zoom-in-down"] {
  transform-origin: top;
  transform: scale(0.5) translateY(-50px);
}
[data-sad="zoom-in-left"] {
  transform-origin: right;
  transform: scale(0.5) translateX(50px);
}
[data-sad="zoom-in-right"] {
  transform-origin: left;
  transform: scale(0.5) translateX(-50px);
}

[data-sad="zoom-out"] {
  transform: scale(1.5);
}
[data-sad="zoom-out-up"] {
  transform: scale(1.5) translateY(100px);
}
[data-sad="zoom-out-down"] {
  transform: scale(1.5) translateY(-100px);
}
[data-sad="zoom-out-left"] {
  transform: scale(1.5) translateX(100px);
}
[data-sad="zoom-out-right"] {
  transform: scale(1.5) translateX(-100px);
}

/* clip */
[data-sad^="clip"] {
  transition-duration: var(--animation-duration-slowest);
}
[data-sad="clip-circle"] {
  clip-path: circle(0%);
}
[data-sad="clip-circle"][data-view="true"] {
  clip-path: circle(100%);
}
[data-sad="clip-rect"] {
  clip-path: ellipse(0% 0% at 0 0);
}
[data-sad="clip-rect"][data-view="true"] {
  clip-path: ellipse(150% 150% at 0 0);
}
