* {
  box-sizing: border-box;
}
:root {
  --main-color: rgb(0, 143, 143);
  --main-light-color: rgb(0, 196, 196);
  --main-dark-color: rgb(0, 66, 66);
  --footer-color:rgb(66, 66, 66);
  --animation-duration-fast: 500ms;
  --animation-duration-normal: 900ms;
  --animation-duration-slow: 1500ms;
  --animation-duration-slowest:3000ms;
}
html {
  font-size: 14px;
  text-align: center;
  font-family: "Dosis", sans-serif;
  color:#fff;
}

/* header */
header {
  position: relative;
}

/* site-bg */
.site-bg{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url('../pics/thom-masat-t_YWqXcK5lw-unsplash-greyscale.jpg');
}
.site-bg::after{
  content: '';
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.site-bg::before{
  content: 'Photo by thom masat on Unsplash';
  background-color: var(--main-dark-color);
  box-shadow: 5px 5px 0px #000;
  padding: 5px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.site-bg::before:hover{
  color: red;
}
/* icon */
.icon-area {
  pointer-events: none;
  width: 100%;
  margin: 15px 0px;
}
.web-icon {
  display: inline;
  padding: 5px;
  font-size: 2rem;
  background-color: var(--main-color);
}

/* banner */
.banner {
  height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-title {
  font-size: 4rem;
}

/* box */
.box-wrapper {
  clear: both;
  margin: 100px 0px;
  width: 30vw;
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--main-color);
  font-weight: 900;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.438);
  border-radius: 6px;
}

/* button */
.back-button {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  background-color: var(--main-dark-color);
  color: var(--main-color);
  font-size: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 15px 0px rgb(51, 51, 51);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.button-icon {
  height: 32px;
  width: 32px;
  opacity: 0.8;
  line-height: 32px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 1px 1px 15px 0px rgb(90, 90, 90);
}
.back-button:hover {
  background-color: var(--main-color);
}
.back-button:active {
  background-color: var(--main-light-color);
}
.back-button:active .button-icon {
  color: var(--main-color);
}

/* footer */
.footer-wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
  background-color: var(--footer-color);
  justify-content: center;
}
.footer-watermark {
  display: flex;
  align-items: center;
}
a {
  color: var(--main-light-color);
}

/* section */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: var(--main-color);*/
  overflow: hidden;
  margin: 100px 0;
}

.card-row {
  padding: 30px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--main-color);
}

/* subtitle */
.title2 {
  width: 40vw;
  position: relative;
  margin: 5px 40vw;
  font-size: 2rem;
  padding: 10px;
}
.title2::before {
  content: "";
  width: 50%;
  position: absolute;
  top: -2px;
  left: 25%;
  border-top: 1px solid currentColor;
}
.title2::after {
  content: "";
  width: 50%;
  bottom: -2px;
  left: 25%;
  position: absolute;
  border-bottom: 1px solid currentColor;
}

/* responsive */
@media screen and (max-width: 760px) {
  .box-wrapper {
    width: 90vw;
  }
  .title2{
    width: 80vw;
    margin: 5px 0;
  }
}

/* animation */
[data-sad] {
  transition-duration: var(--animation-duration-normal);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* fade */
[data-sad^='fade'] {
opacity: 0;
}
[data-sad^='fade'][data-view='true'] {
opacity: 1;
transform: translate(0);
}
[data-sad='fade-up'] {
  transform: translate(0,100px);
}
[data-sad='fade-down'] {
  transform: translate(0,-100px);
}
[data-sad='fade-left'] {
  transform: translate(100px,0);
}
[data-sad='fade-right'] {
  transform: translate(-100px,0);
}
[data-sad="fade-up-left"] {
  transform: translate(100px,100px);
}
[data-sad="fade-up-right"] {
  transform: translate(-100px,100px);
}
[data-sad="fade-down-left"] {
  transform: translate(100px,-100px);
}
[data-sad="fade-down-right"]{
  transform: translate(-100px,-100px);
}

/* animation duration */
[data-duration="fast"] {
  transition-duration: var(--animation-duration-fast);
}

[data-duration="normal"]{
  transition-duration: var(--animation-duration-normal);
}

[data-duration="slow"] {
  transition-duration: var(--animation-duration-slow);
}

[data-duration="slowest"] {
  transition-duration: var(--animation-duration-slowest);
}

/* flip */
[data-sad^="flip"] {
  opacity: 0;
}
[data-sad^="flip"][data-view="true"] {
  transform: perspective(1800px) rotate(0);
  opacity: 1;
}
[data-sad="flip-up"] {
  transform: rotateX(180deg);
}
[data-sad="flip-down"] {
  transform: rotateX(-180deg);
}
[data-sad="flip-left"] {
  transform: rotateY(-180deg);
}
[data-sad="flip-right"] {
  transform: rotateY(180deg);
}
/* zoom */
[data-sad^="zoom"] {
  opacity: 0;
}
[data-sad^="zoom"][data-view="true"] {
  transform: scale(1);
  opacity: 1;
}
[data-sad="zoom-in"] {
  transform: scale(0.5) translate(0);
}
[data-sad="zoom-in-up"] {
  transform-origin: bottom;
  transform: scale(0.5) translateY(50px);
}
[data-sad="zoom-in-down"] {
  transform-origin: top;
  transform: scale(0.5) translateY(-50px);
}
[data-sad="zoom-in-left"] {
  transform-origin: right;
  transform: scale(0.5) translateX(50px);
}
[data-sad="zoom-in-right"] {
  transform-origin: left;
  transform: scale(0.5) translateX(-50px);
}

[data-sad="zoom-out"] {
  transform: scale(1.5);
}
[data-sad="zoom-out-up"] {
  transform: scale(1.5) translateY(100px);
}
[data-sad="zoom-out-down"] {
  transform: scale(1.5) translateY(-100px);
}
[data-sad="zoom-out-left"] {
  transform: scale(1.5) translateX(100px);
}
[data-sad="zoom-out-right"] {
  transform: scale(1.5) translateX(-100px);
}

/* clip */
[data-sad^='clip']{
  transition-duration: var(--animation-duration-slowest);
}
[data-sad="clip-circle"] {
  clip-path: circle(0%);
}
[data-sad="clip-circle"][data-view="true"] {
  clip-path: circle(100%);
}